.select_container {
  display: inline-block;
  position: relative;
  background-color: #ffc94b;
  border-radius: 5px;
}

.selected_text {
  width: 250px;
  padding: 0.6rem;
  cursor: pointer;
}

.selected_text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  border: 7px solid transparent;
  border-color: #132026 transparent transparent transparent;
}

.select_options {
  overflow: hidden;
  position: absolute;
  margin-top: 0.5rem;
  width: 250px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.select_option {
  list-style-type: none;
  padding: 6px 20px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  background-color: #e4e4e4;
}

.select_option:last-child {
  border-bottom: none;
}

.select_option:hover {
  background-color: #d9d9d9;
}

.show_dropdown_options {
  z-index: 99;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform-origin: 0 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.hide_dropdown_options {
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}
