html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  color: #132026;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #ffc94b;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid #ffc94b;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.body-block {
  height: 100%;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 0 15px 30px rgb(255 201 75 / 50%) !important;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #132026;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-close-x span svg {
  fill: #fff !important;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 1350px) {
  .container {
    max-width: 92%;
  }
}

/* .slick-dots li {
  background-color: #ffc94b !important;
}

.slick-active button {
  background-color: #132026 !important;
}
 */
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../../src/fonts/Poppinslight.woff2") format("woff2"),
    url("../../src/fonts/Poppinslight.woff") format("woff"),
    url("../../src/fonts/Poppinslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../../src/fonts/Poppinsregular.woff2") format("woff2"),
    url("../../src/fonts/Poppinsregular.woff") format("woff"),
    url("../../src/fonts/Poppinsregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Poppins-BoldSemiBold"), local("Poppins-SemiBold"),
    url("../../src/fonts/Poppinspoppins-boldsemibold.woff2") format("woff2"),
    url("../../src/fonts/Poppinspoppins-boldsemibold.woff") format("woff"),
    url("../../src/fonts/Poppinspoppins-boldsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin"), local("Poppins-Thin"),
    url("../../src/fonts/Poppinsthin.woff2") format("woff2"),
    url("../../src/fonts/Poppinsthin.woff") format("woff"),
    url("../../src/fonts/Poppinsthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("../../src/fonts/Poppinsitalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsitalic.woff") format("woff"),
    url("../../src/fonts/Poppinsitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
    url("../../src/fonts/Poppinsmediumitalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsmediumitalic.woff") format("woff"),
    url("../../src/fonts/Poppinsmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"),
    url("../../src/fonts/Poppinsextralightitalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsextralightitalic.woff") format("woff"),
    url("../../src/fonts/Poppinsextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
    url("../../src/fonts/Poppinsextrabolditalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsextrabolditalic.woff") format("woff"),
    url("../../src/fonts/Poppinsextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../../src/fonts/Poppinsextrabold.woff2") format("woff2"),
    url("../../src/fonts/Poppinsextrabold.woff") format("woff"),
    url("../../src/fonts/Poppinsextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
    url("../../src/fonts/Poppinslightitalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinslightitalic.woff") format("woff"),
    url("../../src/fonts/Poppinslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../../src/fonts/Poppinsblack.woff2") format("woff2"),
    url("../../src/fonts/Poppinsblack.woff") format("woff"),
    url("../../src/fonts/Poppinsblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"),
    url("../../src/fonts/Poppinsthinitalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsthinitalic.woff") format("woff"),
    url("../../src/fonts/Poppinsthinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Poppins-SemiBoldMedium"), local("Poppins-Medium"),
    url("../../src/fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"),
    url("../../src/fonts/Poppinspoppins-semiboldmedium.woff") format("woff"),
    url("../../src/fonts/Poppinspoppins-semiboldmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("../../src/fonts/Poppinsextralight.woff2") format("woff2"),
    url("../../src/fonts/Poppinsextralight.woff") format("woff"),
    url("../../src/fonts/Poppinsextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("../../src/fonts/Poppinsbolditalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsbolditalic.woff") format("woff"),
    url("../../src/fonts/Poppinsbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("../../src/fonts/Poppinssemibolditalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinssemibolditalic.woff") format("woff"),
    url("../../src/fonts/Poppinssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../../src/fonts/Poppinsbold.woff2") format("woff2"),
    url("../../src/fonts/Poppinsbold.woff") format("woff"),
    url("../../src/fonts/Poppinsbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"),
    url("../../src/fonts/Poppinsblackitalic.woff2") format("woff2"),
    url("../../src/fonts/Poppinsblackitalic.woff") format("woff"),
    url("../../src/fonts/Poppinsblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
