.fixed_nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.5s;
  padding: 1rem 0;
  background-color: transparent;
}

.fixed_nav.active {
  background-color: #132026;
  box-shadow: 0px 10px 50px #0b0b0b40;
}

.navbar {
  position: relative;
}

.navbar_body {
  display: flex;
  align-items: center;
  min-height: 43px;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo_svg.active svg {
  fill: #fff;
}

.navbar_toggler {
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 30px;
  background: none;
  border: none;
  outline-style: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  outline: none;
}

.navbar_toggler span {
  width: 100%;
  height: 2px;
  background-color: #ffc94b;
  margin: 0 0 8px 0;
  display: inline-block;
  transition: 0.5s;
}

.navbar_toggler span:nth-child(2) {
  width: 80%;
}
.navbar_toggler span:nth-child(3) {
  width: 60%;
  margin: 0;
}

.toggler_active {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 30px;
  background: none;
  border: none;
  outline: none;
  margin: 20px 0 0 0;
}

.toggler_active span {
  width: 100%;
  height: 2px;
  background-color: #ffc94b;
  margin: -9px 0 8px 0;
  display: inline-block;
  transition: 0.5s;
  rotate: -45deg;
}

.toggler_active span:nth-child(2) {
  width: 100%;
  rotate: 45deg;
}
.toggler_active span:nth-child(3) {
  display: none;
}

.navbar_menu {
}

.navbar_menu_mobile {
}

.navbar_menu_mobile .navbar_nav {
  position: absolute;
  left: 0;
  top: -900%;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: #132026fd;
  width: 100%;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}

.navbar_menu_mobile.active {
}

.navbar_menu_mobile.active .navbar_nav {
  top: 105%;
}

.navbar_menu {
  display: flex;
  margin: 0 1.5rem 0 2.5rem;
}

.navbar_nav {
  display: flex;
  flex-direction: row;
}

.navbar_logo_brand {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 0 0.5rem;
  color: #fff;
}

.navbar_logo svg {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.navbar_links {
  display: flex;
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.navbar_links a:not(:last-child) {
  margin: 0 1rem 0 0;
}

.nav_item_mobile {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.nav_item_mobile a {
  margin: 0 8px;
}

.link_icon {
}

.link_icon svg {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.link_icon.active svg {
  fill: #fff;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .link_icon svg {
    fill: #fff;
  }
}

@media screen and (max-width: 970px) {
  .fixed_nav {
    background-color: #132026;
  }
  .navbar_body {
    justify-content: space-between;
  }
  .navbar_menu {
    display: none;
  }
  .navbar_toggler {
    display: flex !important;
  }
  .navbar_links {
    display: none;
  }
}
