.feedback {
  padding: 3rem 0;
}

.body {
  display: flex;
  height: 100% !important;
}

.slider_feedback {
  flex: 1 1 auto !important;
  max-width: 50%;
}

.slideFeedback img {
}

.__img {
  width: 570px;
  height: 674px;
  object-fit: cover;
}

.feedbackDots li {
  background-color: #ffc94b;
}

@media screen and (max-width: 992px) {
  .__img {
    height: 585px;
  }
}

@media screen and (max-width: 768px) {
  .body {
    flex-direction: column-reverse;
    width: 100% !important;
  }
  .slider_feedback {
    max-width: 100%;
    width: 100%;
  }
  .__img {
    width: 100%;
    max-width: 768px;
    height: 300px;
    object-fit: cover;
  }
}
